h1 Tell Someone

h3 1. It sets you free. Even if the answer is not what you wanted, it sets you free from the questions, from the assumptions, from reading too much into things, from holding on to what ifs, from waiting for that text, or that kiss or that moment. It sets you free from your own expectations.

h3 2. It’s easier to move on. It’s easier to get back to the routine of your single life. You feel better about going out or even dating other people without feeling bad that you might be disrespecting anyone’s feelings. You know now that you are totally available.

h3 3. It prevents you from being strung along. If you were getting attached, it’s always better to say it sooner than later before you get more attached that it becomes harder to move on. You don’t want to be strung along for a long time only to find out that it’s going nowhere.

h3 4. You deserve an answer. You deserve to know what’s going on, you owe it to yourself to know where you stand, and you deserve to ask questions without holding back because you deserve an answer – whatever it may be.

h3 5. They deserve an explanation. They deserve to know too why you were acting weird or distant or why you were holding back and they deserve to know why you might not be the same if the answer is not what you wanted. If you care about them, they deserve to know the truth.

h3 6. Life is too short to leave important words unsaid. You never know what tomorrow may bring or when you will see that person again. It’s liberating to know that you left this person saying everything you wanted to say instead of beating yourself up for letting them go without telling them what they really meant to you.

h3 7. It’s brave. It’s brave to risk getting rejected and it’s brave to tell someone how you feel when you’re unsure of the answer. It’s also brave because you’re not afraid to ask for what you want and you are strong enough to handle the consequences. It shows that you are both strong and mature.

h3 8. It means you love yourself. When you want to understand what’s happening and where things are going, it means you have standards and it means that you respect yourself to walk away instead of getting played or staying in the friend zone when you want more.

h3 9. It feels great. It feels great to get it off your chest and tell someone you like them and you think they’re great, it feels great for them also, to know that they are liked and appreciated. Regardless of how they feel, everyone wants to hear that they are special. Consider it your good deed of the day.

h3 10. You get your own closure. You don’t wait until things fizzle out or until you two slowly drift apart, you get to know while it’s fresh, when it’s happening, instead of wondering what went wrong months down the line.
